<html>
    <%- include('../layout/header'); -%>
<body>
    <center>
        <br><br>
    <div class="kotak">
       <h1>register</h1>
        <form>
            <br><br>
            <div class="form">
              <label for="email"></label>
              <input type="text" class="form-control" id="email" placeholder="masukan email">
            </div>
            <br>
            <div class="form">
                <label for="username"></label>
                <input type="text" class="form-control" id="username" placeholder="masukan username">
              </div>
              <br> 
            <div class="form">
              <label for="password"></label>
              <input type="password" class="form-control" id="password" placeholder="masukan password">
            </div>
            <br><BR><BR>
            <button type="submit" class="btn btn-info">SUBMIT</button>
          </form>
          <a href="login" class="change-register">create account</a>
    </div>
</body>
</html>